<div class="container">
    <div class="bijak">
        <div class="row">
            <div class="col-md-4 mb-4">
                <!-- <div class="bijakList">
                    <div class="card" *ngFor="let bijak of bijaks">
                        <div class="card-body" 
                            [ngClass]="{active: isActive(bijak?._id)}"
                            (click)="getBijak(bijak?._id)">
                            <blockquote class="blockquote">
                                <div class="clearfix">
                                    <div class="float-left"><small>{{bijak?.ms}} {{bijak?.city}}</small></div>
                                    <div class="float-right">
                                        <small>₹ {{bijak?.netSale}}</small>
                                </div>
                                </div>
                                <div class="clearfix">
                                    <div class="float-left"><small>{{bijak?.no}} {{bijak?.dateOfReciept | date: 'mediumDate'}}</small></div>
                                    <div class="float-right"><small>{{bijak?.totalNags}}</small></div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-8 mb-4">
                <div class="bijakData table-responsive">
                    <div id="printableArea">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>