<div class="container mt-5">
    <form class="" [formGroup]="addBijakForm" (ngSubmit)="onAddBijakSubmit()" >
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>No.</mat-label>
                    <input matInput formControlName="no" type="number">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Phone Expense</mat-label>
                    <input matInput formControlName="phone" type="number">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Station Mandi Exp</mat-label>
                    <input type="number" matInput formControlName="stationMandiExp">
                </mat-form-field>
                <!-- Description <br>
                <ckeditor
                    formControlName="description"
                    [(ngModel)]="ckeditorContent"
                    [config]="{uiColor: '#f1f1f1'}"
                    [readonly]="false"
                    debounce="500">
                </ckeditor> -->
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>MS</mat-label>
                    <input matInput type="text" formControlName="ms">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Truck no.</mat-label>
                    <input matInput type="text" formControlName="truckNo">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Rail Freight</mat-label>
                    <input matInput type="number" formControlName="railFreight">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cold Storage</mat-label>
                    <input matInput type="number" formControlName="coldStorage">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Truck Freight</mat-label>
                    <input matInput type="number" formControlName="truckFreight">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Unloading</mat-label>
                    <input type="number" matInput formControlName="unloading">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Loading</mat-label>
                    <input matInput type="number" formControlName="loading">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Charity</mat-label>
                    <input type="number" matInput formControlName="charity">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Date Of Reciept</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateOfReciept">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                <mat-form-field>
                    <mat-label>Dispatch Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dispatchDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Postage</mat-label>
                    <input type="number" matInput formControlName="postage">
                </mat-form-field>
            </div>
        </div>
        <hr>
        <h4>Items</h4>
        <hr>
        <div formArrayName="itemRows"
            *ngFor="let item of addBijakForm.get('itemRows')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="row">
                    <div class="col-md-2">
                        <mat-form-field appearance="fill">
                            <mat-label>S.No.</mat-label>
                            <input matInput formControlName="sno" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>ctn/Kg</mat-label>
                            <input matInput formControlName="ctnKg" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Rate</mat-label>
                            <input matInput formControlName="rate" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 mt-3 mb-3 text-center">
                        <button type="button" class="btn btn-success" (click)="addItem()"> + </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mr-4" [disabled]="!addBijakForm.valid">Add Bijak</button>
            <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
        </div>
    </form>
</div>
