<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand btn btn-primary" [routerLink]="['all-sell-report']">All Sell Report</a>
        <button class="navbar-brand btn btn-primary" [routerLink]="['add-sell-report']">+ New</button>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <nav aria-label="Page navigation">
                  <ul class="pagination" data-toggle="tooltip" title="print bijak">
                    <li class="page-item">
                        <p class="page-link" (click)="printSellReportDiv('printableSellReport')"><i class="fa fa-print" aria-hidden="true"></i></p>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                  </ul>
                </nav>
            </ul>
        </div>
    </nav>
	<router-outlet></router-outlet>
</div>