<div class="container mt-5">
    <form class="" [formGroup]="addSellReportForm" (ngSubmit)="onAddSellReportSubmit()" >
        <h4>Item Recieved</h4>
        <hr>
        <div formArrayName="itemRecieved"
            *ngFor="let item of addSellReportForm.get('itemRecieved')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>S.No.</mat-label>
                            <input matInput formControlName="sno" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Merchant</mat-label>
                            <input matInput formControlName="merchant">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>city</mat-label>
                            <input matInput formControlName="city">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Truck No.</mat-label>
                            <input matInput formControlName="truckNo">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Nags Recieved</mat-label>
                            <input matInput formControlName="nagsRecieved" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Out Of</mat-label>
                            <input matInput formControlName="nagsRecievedOutOf" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 mt-3 mb-3 text-center">
                        <button type="button" class="btn btn-success" (click)="addRecievedItem()"> + </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4>Item Sold</h4>
        <hr>
        <div formArrayName="itemSold"
            *ngFor="let item of addSellReportForm.get('itemSold')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>S.No.</mat-label>
                            <input matInput formControlName="sno" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Retailer</mat-label>
                            <input matInput formControlName="retailer">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>address</mat-label>
                            <input matInput formControlName="address">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Nags Sold</mat-label>
                            <input matInput formControlName="nagsSold" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 mt-3 mb-3 text-center">
                        <button type="button" class="btn btn-success" (click)="addSoldItem()"> + </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mr-4" [disabled]="!addSellReportForm.valid">Add SellReport</button>
            <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
        </div>
    </form>
</div>
