<div class="container">
    <div class="bijak">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="bijakList">
                    <div class="card" *ngFor="let bijak of bijaks">
                        <div class="card-body" 
                            [ngClass]="{active: isActive(bijak?._id)}"
                            (click)="getBijak(bijak?._id)">
                            <blockquote class="blockquote">
                                <div class="clearfix">
                                    <div class="float-left"><small>{{bijak?.no}} {{bijak?.ms}} {{bijak?.city}}</small></div>
                                    <div class="float-right">
                                        <small>₹ {{bijak?.netSale}}</small>
                                    <!-- <i class="fa fa-ellipsis-v" aria-hidden="true"></i> -->
                                </div>
                                </div>
                                <div class="clearfix">
                                    <div class="float-left"><small>{{bijak?.dateOfReciept | date: 'mediumDate'}}</small></div>
                                    <div class="float-right"><small>{{bijak?.totalNags}}</small></div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="bijakData table-responsive">
                    <div id="printableArea">
                        <table align="center" style="margin:0px auto;">
                            <tr><td colspan="7">
                                    <img class="img-fluid banner-img"
                                    src="{{bijakImage}}"
                                    alt="bijImg"/></td>
                            </tr>
                            <tr>
                                <td colspan="2">No.&nbsp;&nbsp;{{singleBijak?.no}}</td>
                                <td colspan="5">Date of Receipt:&nbsp;&nbsp;{{singleBijak?.dateOfReciept | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td colspan="7">M/s:&nbsp;&nbsp;<b>{{singleBijak?.ms | titlecase}}</b></td>
                            </tr>
                            <tr>
                                <td colspan="2">At:&nbsp;{{singleBijak?.city}}</td>
                                <td colspan="3">Truck No.:&nbsp;{{singleBijak?.truckNo}}</td>
                                <td colspan="2">Dispatch Date:&nbsp;&nbsp;{{singleBijak?.dateOfReciept | date: 'dd/MM/yyyy'}}</td>
                
                            </tr>
                            <tr><td colspan="7" align="center">We thank you for the consignment,sale proceeds in as under.</td></tr>
                            <tr>
                                <th>Sno.</th>
                                <th>Description</th>
                                <th>Ctn/Kg</th>
                                <th>Rate</th>
                                <th>Amount</th>
                                <th>Expenses</th>
                                <th>Amount</th>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[0]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[0]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[0]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[0]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[0]?.itemAmount}}</td>
                                <td>Commission</td>
                                <td align="right">{{singleBijak?.commission | number: '1.2-2'}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[1]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[1]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[1]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[1]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[1]?.itemAmount}}</td>
                                <td>Truck Freight</td>
                                <td align="right">{{singleBijak?.truckFreight}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[2]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[2]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[2]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[2]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[2]?.itemAmount}}</td>
                                <td>Rail Freight</td>
                                <td align="right">{{singleBijak?.railFreight}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[3]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[3]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[3]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[3]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[3]?.itemAmount}}</td>
                                <td>Station and Mandi Exp</td>
                                <td align="right">{{singleBijak?.stationMandiExp}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[4]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[4]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[4]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[4]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[4]?.itemAmount}}</td>
                                <td>Unloading</td>
                                <td align="right">{{singleBijak?.unloading}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[5]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[5]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[5]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[5]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[5]?.itemAmount}}</td>
                                <td>Postage & Tale</td>
                                <td align="right">{{singleBijak?.postage}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[6]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[6]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[6]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[6]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[6]?.itemAmount}}</td>
                                <td>Phone</td>
                                <td align="right">{{singleBijak?.phone}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[7]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[7]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[7]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[7]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[7]?.itemAmount}}</td>
                                <td>Cold Storage</td>
                                <td align="right">{{singleBijak?.coldStorage}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[8]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[8]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[8]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[8]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[8]?.itemAmount}}</td>
                                <td>Loading</td>
                                <td align="right">{{singleBijak?.loading}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[9]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[9]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[9]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[9]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[9]?.itemAmount}}</td>
                                <td>Charity</td>
                                <td align="right">{{singleBijak?.charity}}</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[10]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[10]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[10]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[10]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[10]?.itemAmount}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[11]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[11]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[11]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[11]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[11]?.itemAmount}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[12]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[12]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[12]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[12]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[12]?.itemAmount}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[13]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[13]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[13]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[13]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[13]?.itemAmount}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[14]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[14]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[14]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[14]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[14]?.itemAmount}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">{{singleBijak?.itemRows[15]?.sno}}</td>
                                <td>{{singleBijak?.itemRows[15]?.description}}</td>
                                <td align="right">{{singleBijak?.itemRows[15]?.ctnKg}}</td>
                                <td align="right">{{singleBijak?.itemRows[15]?.rate}}</td>
                                <td align="right">{{singleBijak?.itemRows[15]?.itemAmount}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right">Total Gross Sale</td>
                                <td align="right">{{singleBijak?.totalGrossSale}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right">Less: Expenses</td>
                                <td align="right">{{singleBijak?.totalExpenses | number: '1.2-2'}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total Nags:&nbsp;&nbsp;{{singleBijak?.totalNags}}</td>
                                <td colspan="2">Net Sale</td>
                                <td align="right">{{singleBijak?.netSale}}</td>
                                <td>Total Expenses</td>
                                <td align="right">{{singleBijak?.totalExpenses | number: '1.2-2'}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Net Sale(in words) Rupees</td>
                                <td colspan="5">{{singleBijak?.amountInWord | titlecase}} Only</td>
                            </tr>
                            <tr>
                                <td colspan="7" align="left">Credited in Your Account. Kindly Send Quality Goods for
                                    Best Returns of Profit.</td>
                            </tr>
                            <tr>
                                <td colspan="7" align="left">NB Expenses will be charged according to our shop rules.Not 
                                    responsible for</td>
                            </tr>
                            <tr>
                                <td colspan="7" align="left">Goods Damaged or Less Weight.All Disputes Subject to 
                                    Muzaffarpur Jurisdiction.</td>
                            </tr>
                            <tr>
                                <td colspan="5" align="left">Market Closed in Month Last Day,send soon O.R.R</td>
                                <td colspan="2" align="right">For Jagdamba Fruit Company</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>