.row {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    border-radius: 0;
}

.card-body {
    padding: .25rem 1.5rem;
}

.card:hover {
    box-shadow: 0 3px 11px 0 rgba(0,0,0,.1);
    cursor: pointer;
    background:#fafafa;
}

.active {
    background:#eae9f3;
}

table,th,td{
    border:1px solid black;
}
table{
    border-collapse: collapse;
}

.bijakList {
    height: 100%;
    overflow-y: auto;
}

.bijakList, .bijakData {
    box-shadow: 0 3px 11px 0 rgba(0,0,0,.1);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.banner-img {
    width: 652px;
    height: 125px;
}