<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="company-name">Mansa</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['1']" class="sidebar-link" [routerLinkActive]="'is-active'">Dashboard</a>
      <a mat-list-item [routerLink]="['shop']" class="sidebar-link" [routerLinkActive]="'is-active'">Shop</a>
      <a mat-list-item [routerLink]="['bijak']" class="sidebar-link" [routerLinkActive]="'is-active'">Bijak</a>
      <a mat-list-item [routerLink]="['sell-report']" class="sidebar-link" [routerLinkActive]="'is-active'">Sell Report</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
      <span class="example-spacer"></span>
      <span class="logout mr-4" [routerLink]="['profile']">
        <i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="notification"></i>
      </span>
      <span class="logout mr-4" (click)="notification()">
        <i class="fa fa-bell" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="notification"></i>
      </span>
      <span class="logout mr-3" (click)="logout()">
        <i class="fa fa-power-off" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="logout"></i>
      </span>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>