.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
    background: linear-gradient(223.15deg, #242348 0%, #5a55aa 100%);
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  .sidebar-link{
    color: #ffffff;
}
.is-active{
    background: #39384c;
    border-left: 5px solid #a3a0fb;
}
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 2;
    background: linear-gradient(223.15deg, #242348 0%, #5a55aa 0%);
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .logout{
    cursor: pointer;
  }
  .company-name {
    color: navajowhite;
    padding: 0px 70px;
    border-bottom: 1px solid #695b5b;
  }