<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand btn btn-primary" [routerLink]="['all-bijak']">All Bijaks</a>
        <button class="navbar-brand btn btn-primary" [routerLink]="['add-bijak']">+ New</button>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Bijak</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item mt-1">
                </li> -->
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li class="page-item" data-toggle="tooltip" title="Print Bijak">
                        <button class="page-link" [useExistingCss]="true" printSectionId="printableArea" ngxPrint><i class="fa fa-print" aria-hidden="true"></i></button>
                        <!-- <p class="page-link" (click)="printDiv('printableArea')"><i class="fa fa-print" aria-hidden="true"></i></p> -->
                    </li>
                    <li class="page-item" data-toggle="tooltip" title="Save Bijak">
                        <!-- <p class="page-link" (click)="saveDiv('printableArea')"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></p> -->
                    </li>
                  </ul>
                </nav>
            </ul>
        </div>
    </nav>
	<router-outlet></router-outlet>
</div>