<h1 class="center">Shop Details</h1>
Shop Id: {{shopDetails?._id}} <br>
Seller Name: {{shopDetails?.userId?.username}} <br>
Seller Email: {{shopDetails?.userId?.email}} <br>

Current Bijak Banner: 
<img class="banner-img" src="{{bijakImage}}" alt="bijak banner">
<br>

<input type="file" name="bijakImage" (change)="selectImage($event)">
<button type="submit" (click)="uploadBijakImage()">Change Bijak Banner</button>